body{
    background-color: #99afb8c2;
    margin: 0px;
    padding: 0px;
}

.gamebox{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.iceland1{
    background-size: contain;
    position: relative;
    width: 71%;
    height: 32%;
    background-image: url(../img/land1.png);
    margin: auto;
    top: 22%;

}

.panelbot{
    width: 100%;
    bottom: 0px;
    background-image: url(../img/panelbot.png);
    height: 35%;
}